<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<div th:replace="fragments/general.html :: head"></div>

<body>

	<div id="page">

		<div th:replace="fragments/general.html :: header"></div>
		<!-- /header -->


		<main>
		<section id="hero_in" class="contacts">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp">
						<span></span>Cours en Live
					</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="container margin_60_35">
			<div class="main_title_2">
				<span><em></em></span>
				<h2 th:text="${streaming.title}">Video Title</h2>
				<p th:text="${streaming.module.title}">Video Time</p>
				<SPAN th:text="${streaming.TimeStarted}"></SPAN>
			</div>
		</div>
		<!-- /container -->

		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item"
						th:src="|https://www.youtube.com/embed/${streaming.url}?autoplay=1&mute=1|"
						allowfullscreen></iframe>
				</div>
				<hr>
				<div>
					<p style="float: right; font-size: 20px;">
						<span style="color: #8B008B;" th:text="${vues.size()}"></span><span>
							vues </span>
					</p>
				</div>
				
				<div style="float: center; margin-top: 100px; font-size: 15px;">
					<h2 style="float: center;">Liste des étudiants qui assistent
						le cours en live</h2>
					<hr>
					<ul th:each="vue: ${vues}">
						<li class="pe-7s-target"><span th:text="' '+${vue.lastName}"></span>
							<span th:text="${vue.firstName}"></span></li>
						<hr />
					</ul>
				</div>
				<section id="comments">

					<h2 id="commentaires" th:if="${#lists.isEmpty(comments)}">Aucun
						commentaire ..</h2>
					<h2 id="commentaires" th:unless="${#lists.isEmpty(comments)}">Commentaires</h2>
					<br />
					<div class="reviews-container" id="comment-section">
						<div th:each="comment: ${comments}" class="review-box clearfix">
							<figure class="rev-thumb">
								<img
									th:src="@{${'https://via.placeholder.com/150/212529/fff?text='+#strings.substring(comment.member.firstName,0,1)}}"
									alt="">
							</figure>
							<div class="rev-content">
								<div class="rev-info">[[${comment.member}]] –
									[[${comment.dateText}]] :</div>
								<div class="rev-text">
									<p th:text="${comment.content}"></p>
								</div>
							</div>
						</div>
						<!-- /review-box -->

					</div>
					<!-- /review-container -->
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<form th:action="@{/comment}" method="POST" id="comment-form">
								<span class="input"> <textarea name="content"
										id="content" required="required" class="input_field"
										style="height: 150px;"></textarea> <label class="input_label">
										<span class="input__label-content">Ajouter Un
											Commentaire</span>
								</label>
								</span>
								<p>
									<input type="submit" id="btn-submit" value="Ajouter"
										class="btn_1 ">
								</p>
								<input hidden="hidden" id="stream_id" th:value="${streaming.id}" />
							</form>
						</div>
					</div>
				</section>


			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 --> </main>
		<!--/main-->

		<div th:replace="fragments/general.html :: footer"></div>
		<!--/footer-->

	</div>
	<!-- page -->

	<script type="text/javascript">
		
	</script>

	<!-- COMMON SCRIPTS -->
	<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/common_scripts.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/assets/validate.js}"></script>

	<!-- SPECIFIC SCRIPTS -->
	<script type="text/javascript" th:src="@{/js/mapmarker.jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/mapmarker_func.jquery.js}"></script>
	<SCRIPT type="text/javascript">
		$(document).ready(function() {
			$("#comment-form").submit(function(event) {
				//stop submit the form, we will post it manually.
				event.preventDefault();
				fire_ajax_submit();
			});
		});

		function fire_ajax_submit() {
			var body = {
				content : $("#content").val(),
				stream_id : $("#stream_id").val()
			}
			$("#btn-submit").prop("disabled", true);

			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : "/comment",
				data : JSON.stringify(body),
				dataType : 'json',
				cache : false,
				timeout : 600000,
				success : function(data) {
					var firstLetter = data.member.firstName.substring(0,1);
					var $img = $('<img>', { src : "https://via.placeholder.com/150/212529/fff?text="+firstLetter+""});
					var $figure = $('<figure>', {class : 'rev-thumb'});
					$figure.append($img);
					var $revContent = $('<div>', {class : 'rev-content'});
					var $revInfo = $('<div>', {class : 'rev-info', text : " "+data.member.lastName +" "+data.member.firstName +" - "+ data.dateText +" : "});
					var $revText = $('<div>' ,{class : 'rev-text">'});
					$revText.append("<p>"+data.content+"</p>");
					$revContent.append($revInfo);
					$revContent.append($revText);
					var	$div = $('<div>', {class : 'review-box clearfix'});
					$div.append($figure);
					$div.append($revContent);
					$("#comment-section").append($div);
					$("#btn-submit").prop("disabled", false);
					$("#content").val('');
					if($("#commentaires").text() == "Aucun commentaire .."){
						console.log("hey");
						$("#commentaires").text('Commentaires');
						console.log($("#commentaires").val());
					}
				},
				error : function(e) {
					console.log("erreur");
					console.log("ERROR : ", e);
				}
			});
		}
	</SCRIPT>
</body>
</html>