<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<div th:replace="fragments/general.html :: head"></div>
<script src="js/modernizr.js"></script>
<body>

	<div id="page">

		<div th:replace="fragments/general.html :: header"></div>
		<!-- /header -->

		<main>
			<!-- Slider -->
			<section class="header-video">
				<div id="hero_video">
					<div>
						<h3>Bienvenue dans MQL-ELEARNING </h3>
						<p> me former "où je veux, quand je veux, comme je veux!"</p>
					</div>
					<a href="#hey" class="btn_explore hidden_tablet"><i class="ti-arrow-down"></i></a>
				</div>
				<img src="img/video_fix.png" alt="" class="header-video--media" data-video-src="/video/intro" data-teaser-source="/video/intro" data-provider="" data-video-width="1920" data-video-height="960">
			</section>
		<!-- /header-video -->
			<!-- End layerslider -->

			<div class="features clearfix" id="hey">
				<div class="container">
					<ul>
						<li><i class="pe-7s-study center"></i>
							<h4>+20 Formations</h4><span>Explore a variety of fresh topics</span>
						</li>
						<li><i class="pe-7s-cup"></i>
							<h4>Enseignants experimentés</h4><span>Find the right instructor for you</span>
						</li>
						<li><i class="pe-7s-target"></i>
							<h4>Focus on target</h4>
						</li>
					</ul>

				</div>
			</div>
			<!-- /features -->
			<div class="container-fluid margin_120_0">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>MQL-ELEARNING Formations</h2>
				</div>
				<div id="reccomended" class="owl-carousel owl-theme">
					<!-- item -->
					<div class="item" th:each="formation:${formations}">
						<div class="box_grid" >
							<figure>
								<a th:href="'/formation/'+${formation.id}">
									<div class="preview"><span>Voir Plus</span></div><img th:src="@{${'https://via.placeholder.com/800x553/212529/fff?text='+formation.title}}"
									 class="img-fluid" alt="">
								</a>
							</figure>
							<div class="wrapper">
								<small th:text="${formation.category.name}"></small>
								<h3 th:text="${formation.title}"></h3>
								<p th:text="${formation.description}"></p>
							</div>
							<ul>
								<li></li>
								<li><a th:href="'/formation/'+${formation.id}">Plus</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
					
					<!-- /item -->
				</div>
				<!-- /carousel -->
				<div class="container">
					<p class="btn_home_align"><a href="courses-grid.html" class="btn_1 rounded">Voir toutes les formations</a></p>
				</div>
				<!-- /container -->
				<hr>
			</div>
			<!-- /container -->

			<div class="container margin_30_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Les Categories</h2>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
				</div>
				<div class="row">
					<!-- grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150" th:each="category:${categories}">
						<a th:href="'/formations/category/'+${category.id}" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img th:src="@{${'https://via.placeholder.com/800x553/212529/fff?text='+category}}" class="img-fluid" alt="">
								<div class="info">
									<small><i class="ti-layers"></i>[[${#lists.size(category.formations)}]] Formations</small>
									<h3 th:text="${category.name}"></h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->

			</div>
			<!-- /bg_color_1 -->

			<div class="call_section">
				<div class="container clearfix">
					<div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
						<div class="block-reveal">
							<div class="block-vertical"></div>
							<div class="box_1">
								<h3>Profitez d'une grande communauté d'étudiants</h3>
								<p>Premier pas vers une facette digitale d’une classe virtuelle enligne, 
								cette plateforme est un dispositif de 
								formation continue incontournable à l’ère de la transformation digitale.</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/call_section-->
		</main>
		<!-- /main -->

		<div th:replace="fragments/general.html :: footer"></div>
		<!--/footer-->
	</div>
	<!-- page -->

	<!-- COMMON SCRIPTS -->
	<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/common_scripts.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/assets/validate.js}"></script>


	<script th:src="@{/layerslider/js/greensock.js}"></script>
	<script th:src="@{/layerslider/js/layerslider.transitions.js}"></script>
	<script th:src="@{/layerslider/js/layerslider.kreaturamedia.jquery.js}"></script>
	<script type="text/javascript">
		'use strict';
		$('#layerslider').layerSlider({
			autoStart: true,
			navButtons: false,
			navStartStop: false,
			showCircleTimer: false,
			responsive: true,
			responsiveUnder: 1280,
			layersContainer: 1200,
			skinsPath: 'layerslider/skins/'
			// Please make sure that you didn't forget to add a comma to the line endings
			// except the last line!
		});
	</script>
	<!-- 
	<SCRIPT type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></SCRIPT>
	 -->
	<script src="/js/video_header.js"></script>
	<script>
		HeaderVideo.init({
			container: $('.header-video'),
			header: $('.header-video--media'),
			videoTrigger: $("#video-trigger"),
			autoPlayVideo: true
		});
	</script>

</body>

</html>